<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="srbot">

  <!-- Links -->
  <link name="base_footprint"/> 

  <!-- Base Link -->
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0331268533143592 -0.000432916937407213 0.053571397442181"
        rpy="0 0 0" />
      <mass
        value="4.83639817381771" />
      <inertia
        ixx="0.038861655670592"
        ixy="0.000529616499918743"
        ixz="0.0010173959314691"
        iyy="0.0228312438973577"
        iyz="3.82831626454934E-05"
        izz="0.0575066455054651" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.964705882352941 0.964705882352941 0.952941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 -0.007" rpy="0 0 0"/>
  </joint>

  <!-- Caster Link -->
  <link
    name="front_link">
    <inertial>
      <origin
        xyz="0 1.0842021724855E-19 0"
        rpy="0 0 0" />
      <mass
        value="0.012201049157502" />
      <inertia
        ixx="9.95396738164981E-07"
        ixy="4.75190822077712E-39"
        ixz="0"
        iyy="9.95396738164981E-07"
        iyz="3.04752357318865E-23"
        izz="9.95396738164981E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <!-- Cambiar a una esfera como modelo de colisión -->
          <sphere radius="0.014281" />
      </geometry>
  </collision>
  </link>

  <link
    name="back_link">
    <inertial>
      <origin
        xyz="1.11022302462516E-16 -6.93889390390723E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.012201049157502" />
      <inertia
        ixx="9.95396738164982E-07"
        ixy="-1.32348898008484E-23"
        ixz="8.66927083731437E-38"
        iyy="9.95396738164982E-07"
        iyz="-4.80636454845762E-23"
        izz="9.95396738164982E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <!-- Cambiar a una esfera como modelo de colisión -->
          <sphere radius="0.014281" />
      </geometry>
  </collision>
  </link>


  <!-- Caster joint -->
  <joint
    name="caster_front_joint"
    type="revolute">
    <origin
      xyz="0.126 0 0.002981"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_link" />
    <axis
      xyz="1 1 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>

  <joint
    name="caster_back_joint"
    type="revolute">
    <origin
      xyz="-0.091903 0 0.0054852"
      rpy="-1.5708 0.077667 0" />
    <parent
      link="base_link" />
    <child
      link="back_link" />
    <axis
      xyz="1 1 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>


  <!-- Camera Link -->
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0130485733276654 0.000249057510941841 -6.02472496720186E-05"
        rpy="0 0 0" />
      <mass
        value="0.0447531965749244" />
      <inertia
        ixx="2.72747579788412E-05"
        ixy="2.44896216734503E-07"
        ixz="-1.00813722652812E-09"
        iyy="3.94436239577304E-06"
        iyz="-2.92468588333206E-09"
        izz="2.73596827712822E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- Camera Joint -->
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.161 0 0.80167"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>


  <!-- Platform Link -->

  <link
    name="body_link">
    <inertial>
      <origin
        xyz="0.0196490463239979 -0.00759747258083848 -2.54312289516001E-06"
        rpy="0 0 0" />
      <mass
        value="5.3667835678089" />
      <inertia
        ixx="0.191852604126404"
        ixy="-0.00180652023375761"
        ixz="-5.31889404871528E-05"
        iyy="0.101149701389595"
        iyz="5.32146569402063E-05"
        izz="0.16932952422593" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/body_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/body_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint"
    type="fixed">
    <origin
      xyz="-0.032907 0 0.38597"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="body_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="head_link">
    <inertial>
      <origin
        xyz="0.00849493948773139 0.0238193372028268 0.000292060864239385"
        rpy="0 0 0" />
      <mass
        value="1.07076821324471" />
      <inertia
        ixx="0.00952954443079687"
        ixy="-0.000539065696028081"
        ixz="-2.03838854365254E-05"
        iyy="0.0107354116844579"
        iyz="-3.6921034585701E-06"
        izz="0.00438988033691154" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/head_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/head_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint"
    type="fixed">
    <origin
      xyz="0.085023 8.857E-05 0.77053"
      rpy="1.5708 0 -0.012333" />
    <parent
      link="base_link" />
    <child
      link="head_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="screen_link">
    <inertial>
      <origin
        xyz="-0.00875103860863291 -0.00179905099732303 -0.0013426830002895"
        rpy="0 0 0" />
      <mass
        value="0.291835845220698" />
      <inertia
        ixx="0.00153477162859971"
        ixy="0.000200454438260883"
        ixz="-5.38305946263596E-07"
        iyy="0.00130267458234358"
        iyz="-7.69451434566266E-07"
        izz="0.000469996563152285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/screen_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/screen_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="screen_joint"
    type="fixed">
    <origin
      xyz="0.10714 0 0.88899"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="screen_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <!-- Laser Link -->
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="1.09809412386364E-05 -9.50160934408695E-05 0.0112261274669363"
        rpy="0 0 0" />
      <mass
        value="0.0403779088326407" />
      <inertia
        ixx="7.61672430725859E-06"
        ixy="9.92757538260664E-08"
        ixz="-5.59827664990937E-09"
        iyy="7.68868886195227E-06"
        iyz="5.26078383460514E-08"
        izz="8.28485448822856E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.690196078431373 0.690196078431373 0.690196078431373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- Laser Joint -->
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.1 0 0.1428"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <!-- Wheel Right Link -->
  <link
    name="right_link">
    <inertial>
      <origin
        xyz="-2.22044604925031E-16 3.88578058618805E-16 -3.88578058618805E-16"
        rpy="0 0 0" />
      <mass
        value="0.0610725611857856" />
      <inertia
        ixx="2.0932620346428E-05"
        ixy="3.39520287514895E-38"
        ixz="1.85730748238849E-38"
        iyy="2.0932620346428E-05"
        iyz="6.26429932491746E-21"
        izz="3.95750196483891E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.0001"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
        <origin xyz="0 0 -0.0001" rpy="0 0 0" />
        <geometry>
            <!-- Cambiar a un cilindro como modelo de colisión -->
            <cylinder radius="0.036" length="0.015" />
        </geometry>
    </collision>
  </link>
  
  <!-- Wheel Right Joint -->
  <joint
    name="right_joint"
    type="continuous">
    <origin
      xyz="-0.00049683 -0.11755 0.02507"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  
  <!-- Wheel Left Link -->
  <link
    name="left_link">
    <inertial>
      <origin
        xyz="-4.44089209850063E-16 3.95516952522712E-16 4.9960036108132E-16"
        rpy="0 0 0" />
      <mass
        value="0.0610725611857854" />
      <inertia
        ixx="2.09326203464279E-05"
        ixy="4.13994203062489E-27"
        ixz="-2.29865717335984E-22"
        iyy="2.09326203464279E-05"
        iyz="-1.21249430195987E-20"
        izz="3.95750196483889E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.0001"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://s_description/meshes/left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
        <origin xyz="0 0 -0.0001" rpy="0 0 0" />
        <geometry>
            <!-- Cambiar a un cilindro como modelo de colisión -->
            <cylinder radius="0.036" length="0.015" />
        </geometry>
    </collision>
  </link>
  
  <!-- Wheel Left Joint -->
  <joint
    name="left_joint"
    type="continuous">
    <origin
      xyz="-0.00049683 0.11755 0.02107"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_link" />
    <axis
      xyz="0 0 1" />
  </joint>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="imu_link"/>


  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="body_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Wheels -->
  <gazebo reference="left_link">
    <material>Gazebo/Black</material>
    <mu1>10000.0</mu1>
    <mu2>10000.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="right_link">
    <material>Gazebo/Black</material>
    <mu1>10000.0</mu1>
    <mu2>10000.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="front_link">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="back_link">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo>
    <!-- Plugin -->
    <plugin name="wheel_drive_controller" filename="libgazebo_ros_diff_drive.so">

      <!-- wheels -->
      <num_wheel_pairs>1</num_wheel_pairs>
      <left_joint>left_joint</left_joint>
      <right_joint>right_joint</right_joint>
  
      <!-- kinematics -->
      <wheel_separation>0.235100</wheel_separation>
      <wheel_diameter>0.062</wheel_diameter>
      <max_wheel_torque>20.0</max_wheel_torque>
      <max_wheel_acceleration>10.0</max_wheel_acceleration>
  
      <!-- odometry  --> 
      <!-- <odometry_source>world</odometry_source>--> 
      <odometry_frame>odom</odometry_frame>

      <robot_base_frame>base_footprint</robot_base_frame>
  
      <!-- topic & re remappings -->
      <ros>
        <namespace>/</namespace>
        <argument>/cmd_vel:=cmd_vel</argument>
        <argument>/odom:=odom</argument>
      </ros>
  
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>false</publish_wheel_tf>
      <update_rate>100.0</update_rate>
    </plugin>
  </gazebo>

  <!-- ************************* -->
  <!-- ***** GAZEBO LASER ****** -->
  <!-- ************************* -->
  <gazebo reference="laser_link">
      <material>Gazebo/Blue</material>

      <sensor name="laser" type="ray">
          <pose> 0 0 0 0 0 0 </pose>
          <visualize>true</visualize>
          <update_rate>5.0</update_rate>
          <ray>
              <scan>
                  <horizontal>
                      <samples>360</samples>
                      <resolution>1</resolution>
                      <min_angle>-1.57</min_angle>
                      <max_angle>1.57</max_angle>
                  </horizontal>
              </scan>
              <range>
                  <min>0.2</min>
                  <max>1.5</max>
                  <resolution>0.015</resolution>
              </range>
          </ray>
          <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
              <ros>
                  <argument>~/out:=scan</argument>
              </ros>
              <output_type>sensor_msgs/LaserScan</output_type>
              <frame_name>laser_link</frame_name>
          </plugin>
      </sensor>
  </gazebo>
  
  <!-- ************************* -->
  <!-- **** GAZEBO CAM_LINK **** -->
  <!-- ************************* -->
  <gazebo reference="camera_link">
      <material>Gazebo/Black</material>

      <sensor name="camera" type="camera">
          <pose> 0 0 0 0 0 0 </pose>
          <visualize>true</visualize>
          <update_rate>30</update_rate>
          <camera>
              <horizontal_fov>1.085595</horizontal_fov>
              <image>
                  <format>R8G8B8</format>
                  <width>640</width>
                  <height>480</height>
              </image>
              <clip>
                  <near>0.03</near>
                  <far>100</far>
              </clip>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
              <frame_name>camera_link</frame_name>
          </plugin>
      </sensor>
  </gazebo>

  <!-- ************************* -->
  <!-- **** GAZEBO IMU_LINK **** -->
  <!-- ************************* -->
  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
</robot>
